= render 'commons/header', title: 'いいね一覧'

.container
  = render 'commons/aside'
  .post
    - if @posts.present?
      - @posts.each do |post|
        .post__item
          = render 'commons/post', post: post
    - else
      %p 投稿がありません。


  = paginate @posts