%header.header
  .container
    .header__container
      = link_to :back do
        %span.arrow-left
      -# ページごとにtitle分ける
      = link_to posts_path do
        %h1.header__title
          = title
      .header__right