%header.header
  .container
    .header__container
      = link_to :back do
        %span.arrow-left
      -# ページごとにtitle分ける
      %h1.header__title
        = title
      .header__right
        %i.fa-solid.fa-ellipsis.fa-lg.tab