%header.header
  .container
    .header__container
      = link_to 'javascript:history.back()' do
        %span.arrow-left
      -# ページごとにtitle分ける
      %h1.header__title
        = title
      .header__right
        = render 'commons/menu'

- if flash.present?
  .flash.flash--fadeout
    - flash.each do |key, value|
      %div{:class => key}= value