.top
  .top__first-view
    .top__logo-container
      = image_tag 'top-logo.png', class: 'top-logo'

    .container
      %h2.top__title
        LIFEHACKは便利なアイテムを
        %br
        紹介出来るSNSサービスです。
      .top__btn-container
        = link_to 'ログイン', new_user_session_path, class: 'button-primary top__btn-primary'
        = link_to '登録', new_user_registration_path, class: 'button-secondary top__btn-secondary'