= render 'commons/header', title: 'LIFEHACK'

-# = link_to '編集', edit_post_path
-# = link_to '削除', post_path, method: :delete, data: { confirm: '削除して宜しいですか？' }

.container
  .post
    = render 'post', post: @post