= render 'commons/header', title: 'LIFEHACK'

.container
  .post
    = render 'post', post: @post

  = link_to new_post_comment_path(@post) do
    %button.post__comment-btn.button-primary
      %p コメント追加