= render 'commons/header', title: 'タイムライン'


.container
  = render 'commons/aside'
  .post
    - @posts.each do |post|
      .post__item
        = render 'commons/post', post: post
    - if @posts.empty?
      %p 投稿がありません




