@import 'variable';

.button-primary {
  display: block;
  text-align: center;
  background-color: $color-blue;
  min-width: 327px;
  padding: 12px 0px;
  border-radius: 10px;
  color: $color-white;
}

.button-secondary {
  display: block;
  text-align: center;
  background-color: $color-white;
  min-width: 327px;
  padding: 12px 0px;
  border: 1.5px solid $color-border;
  border-radius: 10px;
  color: black;
}
