@import 'variable';

.comment {
  .comment__item:first-of-type {
    margin-top: 50px;
  }
}

.comment__item {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.comment__avatar-container {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.comment__avatar {
  // width: 32px;
  // height: 32px;
  border-radius: 50%;
}

.comment__content {
  color: $color-gray;
  font-size: 14px;
}

.comment__textarea-container {
  position: relative;
}

.comment__btn {
  height: 17px;
  width: 17px;
  position: absolute;
  left: 15px;
  top: 60px;
}
