// ブレイクポイントを指定
$pc: 1200px;
$tab: 768px;
$sp: 480px;

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (min-width: ($sp)) {
    @content;
  }
}
