@import 'variable';

.post__item:not(:first-child) {
  margin-top: 40px;
}

.post__head {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.post__tab {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.post__nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.post__tab:hover .post__nav {
  display: block;
}

.post__nav-link {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
}

.post__avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.post__image {
  display: block;
  margin-top: 20px;
  height: 250px;
  img {
    object-fit: cover;
    border-radius: 5px;
  }
}

.post__btn-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  img {
    width: 22px;
    height: 20px;
  }
}

.post__count {
  font-size: 14px;
  margin-left: -10px;
}

.post__title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.post__content {
  font-size: 16px;
  margin-top: 20px;
}
.post__comment-btn {
  margin-top: 100px;
}
