@import 'variable';

.search-form {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.search-form__item {
  width: 100%;
}
.search-form__field {
  border: 2px solid $color-border;
  padding: 4px 0px 4px 6px;
  border-radius: 5px;
  width: 90%;
}

.search-form__button {
  min-width: 80px;
  padding: 4px 0px;
}
