/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset';
@import 'variable';
@import 'arrow-left';
@import 'button';
@import 'header';
@import 'form';
@import 'top';
@import 'post';
@import 'login_form';
@import 'variable';
@import 'flash';
@import 'profile';
@import 'comment';
@import 'user';
@import 'search-form';
@import 'pagination';
// 共通css
html {
  font-family: 'Noto Sans', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
}

body {
  margin-bottom: 20px;
}

.container {
  max-width: 330px;
  margin: 0 auto;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.7;
}

button:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

